body {
    background-image: url(../images/background.png);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
footer{
    background-color: rgb(121, 0, 105);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 100px;
   
}
.navbar {
background-image: url(../images/background.png);
}
.navbar a{
    color: darkgoldenrod;
    font-size: 100px;
    margin-left: 30px;
}
.menu {
    background-image: url(../images/background.png);
    padding: 15px;
    text-align: center;
    color: yellow;
}

.login-box {
    background-color: #222;
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid purple;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-box button {
    width: 95%;
    padding: 10px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#error {
    color: red;
    margin-top: 10px;
}
